* {
			box-sizing: border-box;
		}
		h1 {
			text-align: center;
			background-color: #b2dbff;
			margin: 0px;
			padding: 20px;
			border-bottom: 1px solid #000000 ;
		}
		#cal {
			width: 100%;
			max-width: 500px;
			border: 1px #000000 solid;
			
		}
		#show {
			box-sizing: border-box;
			font-size: 20px;
			text-align: right;
			background-color: #d4edff;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 5px;
			padding-left: 5px;
			margin-bottom: 0px;
			margin-top: 0px;
			border-bottom: 0.5px solid #000000 ;
		}
		.item {
			width: 25%;
			
			margin: 0px;
			border: 0.1px solid #000000;
			padding: 50px;
			font-size: 20px;
			background-color: #F0F8FF;
			
		}

		.item:hover {
			background-color: aqua;
		}